<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>Text Adventure</title>
    </head>
    <body>
        <form action="/" method="post">
            <button name="restart" value="restart" class="restartButton">Restart Game</button>
        </form>
        <div class="TextContainer">
            <div id="text"><%= chapterText %></div>

            <form action="/" method = "post">
                <% for (const option of options) { %>
                    <button name= option value=<%=option.getValue() %> class="option"><%= option.getText() %></button>
                <% } %>
                <% for (const item of items) { %>
                    <button name= item value=<%= item.getId() %> class="item">Take <%= item.getName() %></button>
                <% } %>
            </form>
        </div>
        <div class="InventoryContainer">
            <div id="inventoryName">Inventory</div>
            <div class="inventoryItems">
            <% for (const item of inventory.entries()) { %>
                <a id=invItem<%=item[0]%> class="invElemName"><%=item[0]%></a>
                <div id=invNum<%=item[0]%> class="invElemNum"><% if(item[1] > 1) { %>
                    <%= item[1] %>
                <% } %></div> 
            <% } %>
            </div>
        </div>
    </body>
</html>