<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>Text Adventure</title>
    </head>
    <body>
        <div class="TextContainer">
            <div id="text"><%= chapterText %></div>

            <form action="/" method = "post">
                <% for (const option of options) { %>
                    <button name= pickOption value=<%=option.getValue() %> class="option textButton"><%= option.getText() %></button>
                <% } %>
                <% for (const item of items) { %>
                    <button name= takeItem value=<%= item.getId() %> class="item textButton">Take <%= item.getName() %></button>
                <% } %>
            </form>
        </div>
        <div class="RightSideGrid">
            <form action="/" method="post">
                <button name="restart" value="restart" class="restartButton">Restart Game</button>
            </form>
            <div class="InventoryContainer">
                <div id="inventoryName">Inventory</div>
                <form action="/" method="post">
                    <div class="inventoryItems">
                    <% for (const item of inventory.entries()) { %>
                        <button name= currItem value=<%= getItemIdFromName(item[0]) %> class="invElem invElemName"><%=item[0]%></button>
                        <div id=invNum<%=item[0]%> class="invElem invElemNum"><% if(item[1] > 1) { %>
                            <%= item[1] %>
                        <% } %></div>
                    <% } %>
                    </div>
                </form>
            </div>

            <div class="CurrentItemContainer">
                <% if (currentItem.getId() != "null") { %>
                    <div class="currItemName"><%= currentItem.getName() %></div>
                    <div class="currItemDesc"><%= currentItem.getDescription() %></div>
                    <div class="currItemImageContainer">
                        <img src= <%= currentItem.getImage() %> alt="<%=currentItem.getName() %> Image">
                    </div>
                    <form action="/" method="post">
                        <button name="use" value="PLACE_HOLDER" class = "option textButton"> Use <%= currentItem.getName() %></button>
                    </form>
                <% } %>
            </div>
        </div>
    </body>
</html>